/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif
}


/******************************************
/* LAYOUT
/*******************************************/
header nav{
height: 60px;
width: 100%;
}

section{
  width: 50%;
  float: left;
  height: 600px;
  clear: left;
}

section+section{
  padding-left: 1%;
  padding-top: 40px;
  clear: none;
}

main section h1, main > section{
  margin-top: 60px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
header div{
  height: 20px;
  width: 100%;
  background-color: black;
}

a{
  text-decoration: none;
  color: rgb(49, 72, 220);
  font-weight: bolder;
}

nav{
  border-bottom: 1px solid lightgray;
  clear: both;
}

nav > *{
  float: left;
  display: inline;
  list-style: none;
  margin: 20px;
}

nav ul{
  width: 20%;
}

nav > a{
  padding-left: 12%;
}

nav > img{
  margin: 0;
  padding: 5px 10% 0 10%;
}

li{
  display: inline;
  padding: 0 15px;
}


main img{
  width: 75%;
  float: right;
}


h1{
  font-size: 48px;
  width: 60%;
  float: left;
}

p{
  font-size: 18px;
  width: 70%;
  float: left;
  line-height: 38px;
  margin: 0 0 30px 0;
}

section ul{
  clear: both;
  padding: 0;
}

section li{
  padding: 0;
}

section a{
  display: inline;
  border-radius: 5px;
  color: whitesmoke;
  background-color: rgb(60, 60, 255);
  padding: 10px;
}

main + div{
  position: fixed;
  bottom: 0;
  height: 20px;
  width: 100%;
  background-color: black;
}